@using ZDC.Blazor.Services
@using ZDC.Models
@inject OnlineFacilitiesService OnlineFacilitiesService

<div class="card shadow-dark">
    <div class="card-header bg-light padding">
        <h3 class="font-bold text-center">
            <i class="fas fa-globe"></i> Online Facilities
        </h3>
    </div>
    <div class="card-body bg-between padding">
        @if (_onlineFacilities != null)
        {
            <table class="table table-sm table-responsive-sm table-borderless font-bold">
                <tbody>
                <tr class="rounded-top">
                    <td class="padding">@_dc.Name</td>
                    @if (_dc.Online)
                    {
                        <td class="bg-success text-dark text-center">
                            Online
                        </td>
                    }
                    else
                    {
                        <td class="bg-danger text-dark text-center">
                            Offline
                        </td>
                    }
                </tr>
                <tr>
                    <td class="padding">@_pct.Name</td>
                    @if (_pct.Online)
                    {
                        <td class="bg-success text-dark text-center">
                            Online
                        </td>
                    }
                    else
                    {
                        <td class="bg-danger text-dark text-center">
                            Offline
                        </td>
                    }
                </tr>
                <tr>
                    <td class="padding">@_dca.Name</td>
                    @if (_dca.Online)
                    {
                        <td class="bg-success text-dark text-center">
                            Online
                        </td>
                    }
                    else
                    {
                        <td class="bg-danger text-dark text-center">
                            Offline
                        </td>
                    }
                </tr>
                <tr>
                    <td class="padding">@_iad.Name</td>
                    @if (_iad.Online)
                    {
                        <td class="bg-success text-dark text-center">
                            Online
                        </td>
                    }
                    else
                    {
                        <td class="bg-danger text-dark text-center">
                            Offline
                        </td>
                    }
                </tr>
                <tr class="rounded-bottom">
                    <td class="padding">@_bwi.Name</td>
                    @if (_bwi.Online)
                    {
                        <td class="bg-success text-dark text-center">
                            Online
                        </td>
                    }
                    else
                    {
                        <td class="bg-danger text-dark text-center">
                            Offline
                        </td>
                    }
                </tr>
                </tbody>
            </table>
        }
        else
        {
            <h4 class="font-bold text-center text-danger padding">Error fetching online facilities</h4>
        }
    </div>
</div>

@code {
    private IList<Facility> _onlineFacilities;
    private Facility _dc;
    private Facility _pct;
    private Facility _dca;
    private Facility _iad;
    private Facility _bwi;

    protected override async Task OnInitializedAsync()
    {
        _onlineFacilities = await OnlineFacilitiesService.GetOnlineFacilities();

        _dc = _onlineFacilities.First(x => x.Name.Equals("DC Center"));
        _pct = _onlineFacilities.First(x => x.Name.Equals("PCT Tracon"));
        _dca = _onlineFacilities.First(x => x.Name.Equals("DCA ATCT"));
        _iad = _onlineFacilities.First(x => x.Name.Equals("IAD ATCT"));
        _bwi = _onlineFacilities.First(x => x.Name.Equals("BWI ATCT"));
    }
}